*{
  scrollbar-color: var(--orange) #eaeaea;
  scrollbar-width: thin;
}

::-webkit-scrollbar{
  width: 8px;
  height: 7px;
  background-color: #eaeaea;
}
::-webkit-scrollbar-corner{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: var(--orange);
}

/* ::-webkit-scrollbar-track {
  border-radius: var(--scroll-border-radius);
} */
/* ::-webkit-scrollbar-thumb:window-inactive{ 
  background: var(--scroll-thumb);
} */
