@import "variables.css";
@import "reset.css";
@import "typography.css";
/* @import "scrollbar.css"; */

body{
  background-color: var(--bg-color);
}
/* prevent navigation scroll when nav is open on mobile devices */
body.nav-open{
  touch-action: none;
}

/* medium sized screens */
@media screen and (max-width: 1230px){
  :root{
    --scale: .8;
  }
}