#about{
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 650px;
}

#about .profile{
  width: 350px;
  height: 466px;
  min-width: 350px;
  margin: 0 0 120rem;
}

#about img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.13);
}